.highlight {
    color: green;
    font-size: large;
}

.button {
    margin: 16px;
}

.text {
    width: 900px;
    height: 400px;

    background-color: gray;

    padding: 8px;
    overflow: scroll
}
